
<h2> 
  Top 10 Recommended Animes 
  <span style="float:right;"> 
    User ID: {{ user_id }}
  </span> 
</h2>

<div class="container-fluid" style="width:100%; height:50%; overflow:auto;">
  <div>In order to prevent the one-sidedness of the algorithm, 
    we have synthesized the above recommendation algorithms. 
    After integrating the above algorithms, we recommend these Animes to you</div>
  {% if user_id %}
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th width="50%">Rank</th>
          <th width="50%">Anime</th>
        </tr>
      </thead>
        {% set rec = is_model.recommend(user_id|int) %}
        {% for i, row in rec.iterrows() %}
        <tr> 
          <td>{{ row['rank']|int }}</td>
          <td>{{ row['anime'] }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <h2>Please log in to see recommendations!</h2>
  {% endif %}
</div>  

