{% extends 'layout.html' %}

{% block body %}
  
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">COMP 4135 Group Project</h1>
      <p class="lead">This is a Anime Recommender System</p>
      <p class="lead">Add some Introduction</p>
      <p class="lead">Propose a recommender system that is able to 
        generate personalized recommendations of a specific catalog of products of your choice 
        (e.g., music, movies, books, courses, jokes, articles, etc.).</p>
      <br>
    </div>
  </div>

{% endblock %}
