{% extends 'layout.html' %}

{% block body %}
  
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">COMP 4135 Group Project</h1>
      <p class="lead">This is a Anime Recommender System</p>
      <p class="lead">The anime recommendation system is designed 
        to provide personalized comic book recommendations to 
        users based on their browsing history and preferences. 
        The system uses collaborative filtering techniques to identify 
        similar users and recommend comics that they have enjoyed to 
        the target user. It also incorporates content-based 
        filtering to suggest comics that are similar in terms of 
        genre, style, and other attributes to the user's favorite comics. 
        The system is implemented using Python, Flask, and Pandas, 
        and provides a web-based user interface to display recommended 
        comics and allow users to provide feedback on the recommendations.</p>
    </div>
  </div>

{% endblock %}
