<!-- Add nav bar -->
<nav class="navbar navbar-fixed-top navbar-expand-md navbar-dark bg-dark mb-4">

    <ul class="navbar-nav mr-auto">
      <!-- 添加左上角的logo -->
      <a class="navbar-brand" href="/">
        <img style="max-height:40px; background-color:transparent;" src="{{ url_for('static', filename='images/hkbu.png') }}">
      </a>
    </ul>

    <!-- 添加登陆方式 -->
    <ul class="navbar-nav navbar-right">

      <button style="margin-right: 20px;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#registerModal">
        Register
      </button>

      <!--Login Button-->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"> 

        <!-- Change depending if logged in/out -->
        {% if login %}
          <span class="oi oi-account-login"></span> Login
        {% else %}
          <span class="oi oi-account-logout"></span> Change User id
        {% endif %}
      </button>


      <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="registerModalLabel">Register</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- Registration form -->
              <form action="{{ url_for('register') }}" method="post">
                {% set max = df.drop_duplicates(subset='user_id')|length %}
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" id="username" name="username" value="{{max + 1}}" placeholder="Enter username" readonly="readonly" required>
                </div>
                <div class="form-group">
                  <label for="num_questions">Number of questions:</label>
                  <input type="number" id="num_questions" name="num_questions" min="5" required>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
              </form>
            </div>
            <div class="modal-footer">
              COMP4135
            </div>
          </div>
        </div>
      </div>


      <!-- 登陆界面 -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">

            <div class="modal-header">
              <!--登陆界面文字显示-->
              <h5 class="modal-title" id="exampleModalLabel">Enter your User id</h5>

              <!--按钮设置-->
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
              <div class="container-fluid">
                
                <form action="{{ url_for('dashboard') }}" class="form-inline" method="post">
                  <!-- 输入user id -->
                  <!-- 最大值为 数据库中 user的数量-->
                  {% set max = df.drop_duplicates(subset='user_id')|length %}
                  <input type="number" max="{{max}}" min="1" class="form-control" placeholder="1-{{ max }}" name="user_id" style="width: 50%">
                  <!-- 空格-->
                  <span aria-hidden="true">&nbsp;</span>

                  <!-- 点击则登陆 -->

                  <input class="btn btn-primary" value="Login" role="button" type="submit" >
                </form>

              </div>
            </div>
            <div class="modal-footer">
              COMP4135
            </div>
          </div>
        </div>
      </div>
    </ul>
</nav>